.about-container {
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    justify-items: center;
    height: 100%;
    width: 100%;

    img {
        display: block;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.about-section-img {
    position: relative;
    width: 30%;
    overflow-y: hidden;
    overflow-x: hidden;
    object-fit: fill;
}

.about-text-container {
    width: 80%;
    max-width: 900px;
    padding: 120px 120px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    h1 {
        font-size: 2.33vw;
    }

    p {
        width: 100%;
        font-size: 1.25vw;
        text-align: justify;
    }
}

.sub-title {
    padding-top: 2rem;
    width: 100%;
    text-align: left;
}

.about-button {
    background-color: #cc2c2c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 60px;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .about-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap-reverse;
        max-height: fit-content;
        
        .about-section-img {
            position: relative;
            width: 100%;
            img {
                width: 100%;
                min-height: 100%;
            }
        }
        .about-text-container {
            width: 100%;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            h1 {
                font-size: 2rem;
            }

            .sub-title {
                font-size: 1.5rem;
            }

            p {
                width: 100%;
                padding-top: 2rem;
                font-size: 1.7rem;
            }

            @media screen and (max-width: 400px) {
                h1 {
                    font-size: 1.5rem;
                }
                .sub-title {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1.2rem;
                }
                
            }
        }
    }
}