.slick-slide img {
    display: flex;
    margin: 0 auto;
    margin: 0 10px;
}

.depoiment-slider-content {
    gap: 2rem;
    padding: 2rem 4rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    @media screen and (max-width: 390px) {
        h1 {
            font-size: 2rem;
        }

        .btn {
            padding: 10px 30px;        
        }
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: white;
    color: #cc2c2c;
    border: none;
    border-radius: 5px;
    padding: 20px 80px;
    font-size: 1.2rem;
    cursor: pointer;
}